@use "variables" as *;

// media query
@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media (width > $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}

// line clamp
@mixin line-clamp($row-number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row-number;
  overflow: hidden;
}
