$font-families: (
  "primary": sans-serif,
  "secondary": serif,
);

/**
 * Use Utopia to generate responsive font sizes
 * @link https://utopia.fyi/type/calculator
 */
$font-sizes: (
  "300": 0.875rem,
  "400": 1rem,
  "500": 1.25rem,
  "600": 1.5rem,
  "700": 2rem,
  "800": 2.5rem,
  "900": 3.5rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
