// global tokens
$-ff-roboto: "Roboto", sans-serif;
$-ff-merriweather: "Merriweather", serif;

// variables & utils
$font-families: (
  "primary": $-ff-roboto,
  "secondary": $-ff-merriweather,
);

$font-sizes: (
  "300": 0.875rem,
  "400": 1rem,
  "500": 1.25rem,
  "600": 1.5rem,
  "700": 2rem,
  "800": 2.5rem,
  "900": 3.5rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
