@use "../abstracts" as *;

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.button {
  @extend %btn;
  padding: 0.75em 1.5em;
  color: var(--clr-text);
  text-decoration: none;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-secondary);
  border-radius: 0.5em;

  &:hover {
    background-color: var(--clr-secondary);
  }
}
